@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:wght@100;300;400;500;700&family=Sen:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    background-color: #171717;
    color: #fff;
    padding: 2em;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}

.weather_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    border: none;
    background-color: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder{
    color: #fff;
}

.weather_search{
    position: relative;
}

.weather_search i{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather_units{
    font-size: 1.5rem;
}


.weather_units span{
    cursor: pointer;
}

.weather_units span:first-child{
    margin-right: 0.5rem ;
}

.weather_body{
    text-align: center;
    margin-top: 3rem;
}

.weather_datetime{
    margin-bottom: 2rem;
    font-size: 14px;
}
